@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');
.aside {
    border: 2px solid rgba(255, 0, 24, 0.61); /* Рамка навколо зображення */
    text-align: left;
    align-self: center;
}

.aside a:hover {
    color: #bb3d3d;
}
.error{
    border-color: #ff0000;
}
.message{
    color: red;
    font-weight: bold;
    text-align: center;
}
.aside a {
    text-decoration: none;
    color: black;
    font-family: "Apple Braille";
}

header {
    background-color: rgba(42, 131, 42, 0.84);
    font-weight: bold;
    margin-left: -15px;
    margin-right: -15px;
}


.logo {
    display: inline-block;
    vertical-align: middle;
    background: no-repeat center center;
    background-size: 100% 100%;
}

.aside li {
    list-style-type: none;
}


.homepage main img {
    box-shadow: 10px 10px #2a832a;
    border-radius: 13px;
}

.homepage main img:hover {
    transform: scale(1.21);
}

table {
    overflow-x: auto;
}

.homepage p {
    backdrop-filter: blur(15px);
    font-weight: bold;
    text-align: center;
    color: black;
    text-shadow: 1px 1px gray;
    margin: 50px;
}

.w-90 {
    width: 90%;
    max-height: 400px;
}

.lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
}

.lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: #000000;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: #000000;
}

.lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }
    5% {
        transform: scale(1.1);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}

.log {
    text-decoration: none;
    color: rgba(3, 54, 3, 0.84);
    font-size: 1.2em;
}

.log :hover {
    text-decoration: none;
}

footer a {
    text-decoration: none;
    color: darkgreen;
}

h5 {
    color: darkgreen;
    margin-bottom: 0;
}

@media (min-width: 100px) {
    .logo {
        width: 4rem;
    }
    .modal-dialog1 {
        width: 90vw !important;
        max-width: 100%;
    }

    .modal-dialog1 label {
        font-size: calc(2em + 0.1vw);
    }

    .modal-dialog1 input {
        font-size: calc(2em + 0.1vw);
    }
}

@media (min-width: 576px) {
    .logo {
        width: 8rem;
    }

    .buttonlog {
        font-size: 2em;
    }

    .aside {
        font-size: 2.5em;
    }

    header {
        font-size: 3em;
    }
    .modal-dialog1 {
        width: 90vw !important;
        max-width: 100%;
    }

    .modal-dialog1 label {
        font-size: calc(2em + 0.1vw);
    }

    .modal-dialog1 input {
        font-size: calc(2em + 0.1vw);
    }
    table{
        font-size: 1.8em;
    }
    p{
        font-size: 2em;
    }
    footer a{
        font-size: 1.8em;
    }
    h5{
        font-size: 2em;
    }
}

@media (min-width: 992px) {
    .logo {
        width: calc(1em + 8vw);
    }

    .buttonlog {
        font-size: 1.25em;
    }

    .aside {
        font-size: calc(1em + 0.5vw);
    }

    header {
        font-size: calc(1em + 1vw);
    }
    .modal-dialog1 {
        width: 90vw !important;
        max-width: 100%;
    }

    .modal-dialog1 label {
        font-size: calc(1em + 0.1vw);
    }

    .modal-dialog1 input {
        font-size: calc(1em + 0.1vw);
    }
    table{
        font-size: 1em;
    }
    p{
        font-size: calc(1em + 0.5vw);
    }
}
@media (max-width: 1250px) {
    .blog-box {
        width: 300px;
    }
}

@media (max-width: 1100px) {
    .blog-box {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .contact-info {
        flex-direction: column;
    }

    .card {
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
    }
}

@media (max-width: 550px) {
    .blog-box {
        margin: 20px 10px;
        width: 100%;
    }

    #blog {
        padding: 20px;
    }

}
.news {
    padding: 0;
    box-sizing: border-box;
    font-family: Popins, sans-serif;
}

.news a {
    text-decoration: none;
}

.news ul {
    list-style: none;
}

.news body {
    margin: 0;
    padding: 0;
    font-family: Popins sans-serif;
}

#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span {
    color: darkgreen;
}

.blog-heading h3 {
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.blog-box {
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
}

.blog-img {
    width: 100%;
    height: auto;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span {
    color: rgba(42, 131, 42, 0.84);
    font-size: 0.9rem;
}

.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(100, 1, 1);
}

.blog-text .blog-title:hover {
    color: rgba(255, 0, 24, 0.61);
    transition: all ease 0.3s;
}

.blog-text p {
    color: #bb3d3d;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0;
}

.blog-text a {
    color: rgb(100, 1, 1);
}

.blog-text a:hover {
    color: rgba(255, 0, 24, 0.61);
    transition: all ease 0.3s;
}
.faq {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Hind, sans-serif;
    color: rgba(3, 54, 3, 0.84);
    display: flex;
    min-height: 100vh;
}

.faq::before, .faq::after {
    box-sizing: border-box;
}

.containerfaq {
    margin: 0 auto;
    padding: 4rem;
    width: 48rem;
}

.accordion .accordion-item {
    border-bottom: 1px solid rgba(42, 131, 42, 0.84);
}

.accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid rgba(42, 131, 42, 0.84);
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: rgba(42, 131, 42, 0.84);
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}

.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    color: rgba(3, 54, 3, 0.84);
}

.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: rgba(3, 54, 3, 0.84);
    border: 1px solid rgba(3, 54, 3, 0.84);
}

.accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion button[aria-expanded='true'] {
    color: rgba(3, 54, 3, 0.84);
}

.accordion button[aria-expanded='true'] .icon::after {
    width: 0;
}

.accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
}
.contacts {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contact-info {
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}


.card {
    background: rgba(42, 131, 42, 0.84);
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.card-icon {
    font-size: 28px;
    background: rgba(42, 131, 42, 0.84);
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}

.card:hover .card-icon {
    background: none;
    color: darkgreen;
    transform: scale(1.6);
}

.card p {
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}

.card a {
    text-decoration: none;
    color: darkgreen;
}

.card:hover p {
    max-height: 40px;
    opacity: 1;
}

@media screen and (max-width: 1200px) {
    .contact-info {
        flex-direction: column;
    }

    .card {
        width: 100%;
        max-width: 600px;
        margin: 10px 0;
    }
}

@media screen and (max-width: 568px) {
    .contact-info {
        flex-direction: column;
    }

    .card {
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
    }
}
.table .thead-dark th {
    color: #fff;
    background-color: rgba(3, 54, 3, 0.84)!important;
    border-color: darkgreen!important;
}
